// Variables
$background-light: #ffffff;
$background-dark: #0a0a0a;
$foreground-light: #171717;
$foreground-dark: #ededed;

:root {
  --background: #{$background-light};
  --foreground: #{$foreground-light};
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #{$background-light};
    --foreground: #{$foreground-light};
  }
}

body {
  background: #ffffff;
  color: #171717;
  font-family: Arial, Helvetica, sans-serif;
}

