.container {
  padding: 32px;
  text-align: center;
}

.title {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 16px;
  color: #171717;
}

.description {
  font-size: 16px;
  color: #171717;
}

